.main-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    overflow-x: auto;
    min-height: 90vh;
    height: 100%;
    background-color: #fff;
}

.main-grid {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 5px;
    background-color: #eeeeee;
    flex-wrap: nowrap;
    min-width: 250px;
}

.flex-well {
    display: flex;
    min-height: 0;
    min-width: 0;
    flex: 1 0 200px;
    flex-direction: column;
    margin: 5px;
}

.flex {
    display: flex;
}

.sidebar-master {
    display: flex;
    width: 250px;
    min-width: 250px;
    max-width: 300px;
    box-sizing: border-box;
    border-radius: 5%;
}

.create-project {
    min-width: 0;
    width: 200px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    height: 200px;

    #createNewProject {
        
    }
}

.item-card {
    background-color: #fff;
    margin: 8px;
    box-shadow: 0 0 1px 0 rgba(9, 33, 69, 0.31), 0 2px 4px -1px rgba(9, 33, 69, 0.25);
    cursor: move;
    border-radius: 5px;
    padding: 6px 5px;
    margin: 15px 10px;
}

.status-info {
    text-transform: capitalize;
    font-size: medium;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    .TODO {

    }

    .INPROGRESS {}

    .DONE {
        text-decoration: #2b2828 line-through 2px;
    }
}